.add {
	margin-left: 70%;
	margin-right: 0%;
}

.timer {
	font-size: 2em;
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
	margin: 0 5px;
--color-primary: #f0f0f0;
--color-secondary:#1f2241;
--color-font:#000000;
}

.editable--form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 50%;
	margin: 0 auto;
	--color-primary: #f0f0f0;
	--color-secondary:#1f2241;
	--color-font:#000000;
}

.editable--form--btn {
	padding: 2rem;
}
.round-time-bar {
width: 100%;
height: 20px;
--color-primary: #f0f0f0;
--color-secondary:#1f2241;
--color-font:#000000;
border-radius: 10px;
overflow: hidden;
}

.round-time-bar div {
height: 100%;
background-color: #273327; /* Change this color to your preferred color */
border-radius: 10px;
width: 0; /* Set initial width to zero *//* This duration should match the timer duration */
--color-primary: #f0f0f0;
--color-secondary:#1f2241;
--color-font:#000000;
}
